# iOS system files
.DS_Store

# Credential files
**/GoogleService-Info*.plist*
**/google-services*.json*
/Navi Admin/Assets/StreamingAssets*
/Navi Admin/Assets/StreamingAssets/

# Firebase stuff
/Navi Admin/Assets/Firebase/
/Navi Admin/Assets/PlayServicesResolver/
/Navi Admin/Assets/Editor\ Default\ Resources/
/Navi Admin/Assets/Firebase.meta
/Navi Admin/Assets/PlayServicesResolver.meta
/Navi Admin/Assets/Editor\ Default\ Resources.meta
/Navi Admin/Assets/Plugins/x86_64/Firebase/
/Navi Admin/Assets/Plugins/x86_64/Firebase*
/Navi Admin/Assets/Plugins/Android/
/Navi Admin/Assets/Plugins/iOS/
/Navi Admin/Assets/Plugins/tvOS/
/Navi Admin/Assets/Plugins/iOS.meta
/Navi Admin/Assets/Plugins/tvOS.meta
/Navi Admin/Assets/Parse/
/Navi Admin/Assets/Parse.meta
/Navi Admin/remote_config_data

# External dependency manager
/Navi Admin/Assets/ExternalDependencyManager/
/Navi Admin/Assets/ExternalDependencyManager*