# Standard Unity Gitignore: https://github.com/github/gitignore/blob/main/Unity.gitignore

# Unity folders
/Navi Admin/[Ll]ibrary/
/Navi Admin/[Tt]emp/
/Navi Admin/[Oo]bj/
/Navi Admin/[Bb]uild/
/Navi Admin/[Bb]uilds/
/Navi Admin/[Ll]ogs/
/Navi Admin/[Uu]ser[Ss]ettings/

# Memory Captures can get excessive in size
/Navi Admin/[Mm]emoryCaptures/

# Recordings can get excessive in size
/Navi Admin/[Rr]ecordings/

# Visual Studio cache directory
.vscode/

# Gradle cache directory
.gradle/

# iOS system files
.DS_Store

# Dist
.dist

# Credential files
**/GoogleService-Info*.plist*
**/google-services*.json*
/Navi Admin/Assets/StreamingAssets*
/Navi Admin/Assets/StreamingAssets/

# Firebase stuff
/Navi Admin/Assets/Firebase/
/Navi Admin/Assets/PlayServicesResolver/
/Navi Admin/Assets/Editor\ Default\ Resources/
/Navi Admin/Assets/Firebase.meta
/Navi Admin/Assets/PlayServicesResolver.meta
/Navi Admin/Assets/Editor\ Default\ Resources.meta
/Navi Admin/Assets/Plugins/x86_64/Firebase/
/Navi Admin/Assets/Plugins/x86_64/Firebase*
/Navi Admin/Assets/Plugins/Android/
/Navi Admin/Assets/Plugins/iOS/
/Navi Admin/Assets/Plugins/tvOS/
/Navi Admin/Assets/Plugins/iOS.meta
/Navi Admin/Assets/Plugins/tvOS.meta
/Navi Admin/Assets/Parse/
/Navi Admin/Assets/Parse.meta
/Navi Admin/remote_config_data

# External dependency manager
/Navi Admin/Assets/ExternalDependencyManager/
/Navi Admin/Assets/ExternalDependencyManager*

# Generated Local
/Navi Admin/Assets/GeneratedLocalRepo.meta
/Navi Admin/Assets/GeneratedLocalRepo/